#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}



.table-container{
  width: 500px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 4px 3px 5px lightgray;
  border: 1px solid lightgray
}


